@model IEnumerable<LibraryMVC4.Models.structure>


@{
    Layout = "~/Views/Shared/_bootStrap2.cshtml";
    ViewBag.Title = "Index";

}



@Html.Partial("_breadCrumb", ViewData["getBread"])


@foreach (var item in Model)
{


    <h2 align="center">@item.Title</h2>



    @Html.Raw(item.Text)


}
