/* MAIN NAV */
#main_nav {
	position:relative;
	padding:0 15px;
	margin:0;
	list-style:none;
	line-height:1;
	font-size:12px;
	width:950px;
	height:65px;
	overflow:visible;
	z-index:500;
	top: 0px;
	left: 0px;
}

#main_nav ul {
	padding:0;
	margin:0;
	list-style:none;
	line-height:1;
}

#main_nav a {
	background:transparent url(../temp/images/navbar_main.png) no-repeat scroll center top;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	padding:30px 0 26px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 0 5px #000000;
	text-transform:uppercase;
	width:160px;
	cursor:default;
}

#main_nav a:hover {
	background-position:center -96px;
}

#main_nav li {
	float:left;
	width:160px;
}

#main_nav li.home a {
	background-position:top left;
	width:80px;
}

#main_nav li.home a:hover {
	background-position:left -96px;
}

#main_nav li.home {
	width:80px;
}

#main_nav li.about_northcentral a {
	background-position:top right;
	width:190px;
	padding-right:30px;
}

#main_nav li.about_northcentral a:hover {
	background-position:right -96px;
}

#main_nav li.about_northcentral {
	width:190px;
}

#main_nav li ul, #main_nav li.home li ul{

	
/* second-level lists */
	position:absolute;
	background-color:#555;
	width:200px;
	margin:-6px 0 0;
	padding:5px 0 10px;
	border-top:3px solid #333;
	left:-999em;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
}

#main_nav li ul li a,#main_nav li.about_northcentral ul li a, #main_nav li.home ul li a{
	background-image:none;
	text-align:left;
	padding:5px 0 5px 15px;
	font-size:11px;
	font-weight:normal;
	text-transform:none;
	width:145px;
	text-shadow:none;
}

#main_nav li ul li a:hover {
	background-color:#333;
	padding-right:0;
	cursor:pointer;
}

#main_nav li ul ul {

	
/* third-and-above-level lists */
	margin:-21px 0 0 200px;
}

#main_nav li.about_northcentral ul ul {
	margin:-21px 0 0 -200px;
}

#main_nav li:hover ul ul,#main_nav li.sfhover ul ul {
	left:-999em;
}

#main_nav li:hover ul,#main_nav li li:hover ul,#main_nav li.sfhover ul,#main_nav li li.sfhover ul {

	
/* lists nested under hovered list items */
	left:auto;
}

/* fix for 3rd level in I.E. 7 */
#main_nav li:hover, #main_nav li.sfhover {  
	position: static;  
}  
	
/* END MAIN NAV DROPDOWN */
