@model IEnumerable<LibraryMVC4.Models.schedule>
@{
    ViewBag.Title = "Index";
}

<a href="/">Library Home</a>

<h2>Library Workshops</h2>
<p>
    Library workshops are a great way to quickly become familiar with the NCU Library.
    Learn how to effectively use the Library’s resources and services and improve your
    research skills. To sign up for a Library workshop, click on the “Register” link
    below. Note that Library workshops are scheduled in Mountain Standard Time. Click
    <a href="http://www.timeanddate.com/worldclock/converter.html">here</a> for a time
    zone converter.
</p>
<br />
<p>
    Library workshops require access to an Internet enabled computer for the entire
    length of the session. Workshops are typically between 30 and 60 minutes, and include
    time for questions and answers.
</p>
<p>
    <b>
        <span style="color: red; font-weight: 700;">NEW!</span> Check out our new and improved <a href="http://ncu.libcal.com/calendar/workshops" target="_blank">registration page for library workshops!</a>
        You can register for a workshop using the page you are currently on or you can register using our new page,
        but please only register once using one system.
    </b>
</p>
<br />
@if (Model.Count() != 0)
{


    <table class="table table-striped table-hover">
        <tr>
            <th>
                Event Date
            </th>
            <th>
                Event Details
            </th>
            <th>
                Register
            </th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventDate)
                </td>
                <td>
                    @Html.Raw(item.eventDetails)
                </td>
                <td>
                    @*@using (Html.BeginForm("", "", new {  id = item.lcEventId }, FormMethod.Post))

                        {

                            <input type="submit" id=@item.lcEventId name="button" value="Register" />

                        }*@

                    @Html.ActionLink("Register", "RegisterMe", "Schedule", new { id = item.lcEventId }, null)
                </td>
            </tr>


        }
    </table>

}

else
{

    <div style="color:red; font-size: 1em; font-weight: 700;">Sorry, no workshops are being offered at this time. Please try later.</div>

}
<br />
<p>
    If you have registered for a session and a schedule conflict has arisen, please
    click
    <asp:hyperlink id="HyperLink1" navigateurl="cancel_workshop.aspx" runat="server">here</asp:hyperlink>
    to cancel your registration. If you are unable to attend a live session, visit the
    <asp:hyperlink id="HyperLink2" navigateurl="http://library.ncu.edu/wl_template.aspx?parent_id=271"
                   target="_blank" runat="server">Workshop Videos page</asp:hyperlink>
    to view recordings and to download the workshop outlines.
</p>
<table align="center">
    <tr>
        <td>
            <img src="http://library.ncu.edu/public_images/elrc/2013/web/what_you_think.jpg"
                 alt="what_you_think" align="left" /><br />
        </td>
    </tr>
</table>
<p>
    If you have already attended a Library Workshop, please take the @Html.ActionLink("Library Workshop Feedback Survey", "LeaveWorkshopFdbk", "schedule", new { target = "_blank" }) and let
    us know if the session helped you. We appreciate your comments and suggestions.
</p>
