@model LibraryMVC4.Models.schedule

@{
    ViewBag.Title = "RegisterMe";
}

<p>Thank you for registering for the Library Workshop, @Model.eventDate Arizona time. You will receive an email with access instructions and a workshop outline a few days prior to the event. To return the Library homepage, please click <a href="../">here</a>.</p>
