@{
    ViewBag.Title = "LeaveFeedbackPost";
}

<p>Thank you for your comments. We will review them and get back to you as quickly as possible. Click this link to return to the <a href="../">Northcentral University Library</a>.</p>