@{
    ViewBag.Title = "SendEmail";
}

<p>Thank you for your consultation request. We will contact you promptly to schedule your appointment. To return to the Library, please click <a href="/home/index/"> NCU Library</a>.</p>
