@model IEnumerable<LibraryMVC4.Models.structure>

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";

    var chatGrid = new WebGrid(Model, canPage: false, canSort: false);
}

<h2>Chat</h2>

@Html.ActionLink("Go back to Library Admin", "index", "admin")

<br />

<div>Please select what you want to do.</div>
<br />

@using (Html.BeginForm("chatstart", "structure", FormMethod.Post))
{
    <input type="submit" value="Start Chat" />
}
<br />

@using (Html.BeginForm("chatend", "structure", FormMethod.Post))
{
    if (ViewBag.LibId != null)
    {

        @Html.Hidden("id", (int)ViewBag.LibId)

    }

    <input type="submit" value="Stop Chat" />
}

<hr />

<div id="content">

    @chatGrid.GetHtml(
        htmlAttributes: new { id = chatGrid },
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: chatGrid.Columns(
        chatGrid.Column(columnName: "LibLastName", header: " Librarian"),
        chatGrid.Column(columnName: "StartTime"),
        chatGrid.Column(columnName: "EndTime"),
        chatGrid.Column(columnName: "ChatActive", header: "Chat Active"))
        )

</div>