
    <span style="float: left;">@Html.Action("GetLibraryAdminLink", "home")</span>
    <a class="libFooter" href="http://www.ncu.edu/corporate-information/privacy-statement-and-consumer-information" target="_blank">PRIVACY
    POLICY AND CONSUMER INFORMATION</a> | <a class="libFooter" href="/dw/index/22"
        target="_blank">CONTACT US</a> | <a class="libFooter" href="/sitemap/getsitemap">LIBRARY SITEMAP</a> <br />
    Northcentral University - 10000 E. University Drive, Prescott Valley, Arizona 86314
    U.S.A. Copyright 2015. All Rights Reserved.
    <span style="float: right;"><a target="_blank" href="https://www.facebook.com/NorthcentralU"><img src="~/Images/facebook.gif" /></a> &nbsp;&nbsp;<a target="_blank" href="https://twitter.com/NorthcentralU"><img src="~/Images/icon-twitter.gif" /></a>&nbsp;&nbsp;<a target="_blank" href="https://www.youtube.com/user/NorthcentralUniv"><img src="~/Images/icon-youtube.gif" /></a></span> 