<div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        @*<li class="active"><a href="#">Active</a></li>*@
        @*<li><a href="#">Link</a></li>*@
        <li class="dropdown">
            <a href="/mm/index/1">Research Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/dw/index/8">Databases</a></li>
                <li><a href="/mm/index/182">Find an Article</a></li>
                <li><a href="/dw/index/95">Find an eBook</a></li>
                <li><a href="http://xt6nc6eu9q.search.serialssolutions.com/" target="_blank">Find a Resource</a></li>
                <li><a href="/dw/index/96">Dissertation Resources</a></li>
                <li><a href="/mm/index/11">Open Access Resources</a></li>
                <li><a href="/dw/index/280">Alumni Databases</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/mm/index/9">Research Help<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/dw/index/170">Learn the Library!</a></li>
                <li><a href="/guide/index">Need Help With a Course?</a></li>
                <li><a href="/dw/index/179">Research Process</a></li>
                <li><a href="/home/ILTutorial" target="_blank">IL Tutorial</a></li>
                @*<li>@Html.ActionLink("Information Literacy Tutorial", "ILTutorial", "home", new { target = "_blank" })</li>*@
                <li><a href="/faq/index">Library FAQs</a></li>
                <li><a href="/dw/index/220">Scholarly Publication</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/mm/index/14">Services<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/asklib/getquestion/">Ask a Librarian</a></li>
                <li><a href="/home/scheduleconsult/">Research Consultations</a></li>
                <li><a href="http://illiad.ncu.edu/illiad/logon.html" target="_blank">Interlibrary Loan</a></li>
                <li><a href="/schedule/">Library Workshops</a></li>
                <li><a href="/dw/index/315">Library Disability Services</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/dw/index/20">About Us<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/dw/index/219">Library Mission Statement</a></li>
                @*<li><a href="http://library.ncu.edu/blog/?blog_arena_id=2" target="_blank">Library News Blog</a></li>*@
                <li><a href="/dw/index/22">Contact Us</a></li>
                <li><a href="/mm/index/23">Library Alternatives</a></li>
                <li><a href="http://learners.ncu.edu/public_images/elrc/Library%20Policies/index.htm">Library Policies</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/dw/index/20" class="dropdown-toggle" data-toggle="dropdown">Popular Databases<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="http://site.ebrary.com/lib/ncent" target="_blank">Ebrary</a> </li>
                <li><a href="http://search.ebscohost.com.proxy1.ncu.edu/login.aspx?authtype=ip,uid&profile=ehost" target="_blank">EBSCOHost</a></li>
                <li><a href="http://infotrac.galegroup.com.proxy1.ncu.edu/itweb/pres1571?db=AONE" target="_blank">Gale Academic OneFile</a></li>
                <li><a href="http://search.proquest.com.proxy1.ncu.edu/advanced" target="_blank">ProQuest</a></li>
                <li><a href="http://www.refworks.com.proxy1.ncu.edu/refworks" target="_blank">RefWorks</a></li>
                <li><a href="http://online.sagepub.com.proxy1.ncu.edu/cgi/search" target="_blank">SAGE Journals</a></li>
                <li><a href="http://www.sciencedirect.com.proxy1.ncu.edu/science?_ob=MiamiSearchURL&_method=requestForm&_btn=Y&_acct=C000072328&_version=1&_urlVersion=1&_userid=7629509&md5=0ce9f93201a3b67add75e96bcadfee83" target="_blank">ScienceDirect</a></li>
                <li><a href="http://link.springer.com.proxy1.ncu.edu/advanced-search" target="_blank">SpringerLink</a></li>
                <li><a href="http://www.ulrichsweb.serialssolutions.com.proxy1.ncu.edu/" target="_blank">Ulrichsweb</a></li>
                <li><a href="http://apps.webofknowledge.com.proxy1.ncu.edu/" target="_blank">Web of Knowledge</a></li>
                <li><a href="/dw/index/8">Other Databases</a>@*@Html.ActionLink("Other Databases", "index", "dw", new {id = "8"})*@</li>
            </ul>
        </li>

        @*           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>*@
    </ul>

</div>
