@model PagedList.IPagedList<LibraryMVC4.Models.admin>
@using PagedList.Mvc;

<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />

<h3>Submitted Ask Librarian Questions</h3>


