@model IEnumerable<LibraryMVC4.Models.fa>

@{

    Layout = "~/Views/Shared/_bootStrap2.cshtml";
    ViewBag.Title = "Index";

}

@Html.Partial("_breadCrumb", ViewData["getBread"])

@foreach (var title in Model)
{
    <h2 style="text-align: center;">@title.Title</h2>
}
<br />

@Html.Action("GetFaDbList", "Fa")




