@{
    ViewBag.Title = "UserInfoPost";
}

<p>
    Thank you for submitting an Ask a Librarian question. When your question is answered you will receive a notification
    at the email address you have registered with the University. Please be sure to check
    your junkmail or spam folder for our response. You can also check the unread messages notification
    located on the Library homepage to see if your question has been answered, or you can simply click the My eReference link at the top of the Library website.
</p>

<p>We will try to respond to your question as quickly as possible.</p>

<p>To return to the Library, please click <a href="../">here</a>.</p>
